@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input:focus, button:focus {
  outline: none;
}

.button {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: #ff9d00;
  border: none;
  padding: 13px 22px;
  border-radius: 5px;
}
.button:hover {
  background-color: #ffa71a;
  cursor: pointer;
}
.button img {
  vertical-align: middle;
}

.header {
  padding: 15px 0;
}
.header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-contacts__phone {
  font-size: 22px;
  margin-right: 14px;
}
.header-contacts__phone:first-child {
  border-right: 1px solid gray;
  padding-right: 13px;
}

.main {
  position: relative;
  padding-top: 65px;
  padding-bottom: 60px;
  background: #4d4b41 url(../img/main/main-bg.jpg) center no-repeat;
  background-size: cover;
  color: #fff;
  z-index: 1;
  /* Затемнение фонового изображения на главном экране */
}
.main::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 0;
  /* Оформление главной картинки */
}
.main-img {
  position: relative;
}
.main-img::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 390px;
  height: 390px;
  left: 50%;
  margin-left: -195px;
  border: 1px solid #ffffff;
  border-radius: 50%;
}
.main-text__title {
  font-size: 41px;
  font-weight: 700;
  margin-bottom: 20px;
}
.main-text__subtitle {
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 27px;
}
.main-text__form {
  padding: 30px 27px;
  background-color: rgba(255, 255, 255, 0.2);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 12px;
}
.form-title {
  margin-bottom: 20px;
  padding-right: 87px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
}
.form-title__important {
  text-transform: uppercase;
  font-weight: 700;
}
.form__input {
  margin-right: 10px;
  vertical-align: middle;
  padding: 20px;
  height: 44px;
  border-radius: 5px;
  border: none;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  font-size: 14px;
}
.form-small {
  font-size: 14px;
  font-weight: 300;
}
